@import "/src/styles/root.scss";
.container {
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
   width: 100%;
}
.product_slide {
   max-width: fit-content;
   border: 1px solid rgba($gen, 0.3);
   border-right: none;
   &:last-child {
      border-right: 1px solid rgba($gen, 0.3);
   }
}
.recommend {
   width: 100%;
}

.recipe_slide {
    height: auto;
}

@media (max-width: $tablet) {
   .recipe_slide {
      width: 340px;
   }
}

@media (max-width: $mobile) {
   .newTaste {
      width: 250px;
   }

   .instagram {
      width: 313px;
   }

   .product_slide {
      width: 270px;
   }

   .borderSlide {
      width: 320px;
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;
      &:last-child {
         border-right: none;
      }
   }
}

