@import "/src/styles/root";

.title {
    text-align: center; 
    margin: 5rem 0 7.5rem;
}

.profile {
    margin: 1.25rem 0 1.875rem 0;
}

@media (max-width: $landscape) {
    .title {
        margin: 50px 0 60px;
    }
}
@media (max-width: $tablet) {
    .title {
        margin: 50px 0;
    }
}

@media (max-width: $mobile) {
    .title {
        margin: 40px 0;
        font-size: 29px;
    }
}