@import '../../../styles/mixins';
@import '../../../styles/root';

.btn {
  @extend %button--circle;
  width: 40px;
  height: 40px;
  //&_small {
  //   width: 40px;
  //   height: 40px;
  //}
  &:hover path {
    stroke: unset;
    fill: $accent;
  }
}