@import '/src/styles/root';

.container {
  display: flex;
  flex-wrap: wrap;
}

.preview {
  display: flex;
  width: 40rem;
  margin-top: 20px;
}


.mini {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  cursor: pointer;

  &:not(:first-child) {
    margin-right: 10px;
  }
}

.active {
  border: 2px solid $gen;
}

.main {
  position: relative;
  width: 100%;
  height: 26.625rem;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}



@media (max-width: $landscape) {
  .main {
    width: 400px;
    height: 554px;
  }
  .preview {
    margin-right: 20px;
  }
  .mini {
    width: 69px;
    height: 69px;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

@media (max-width: $tablet) {
  .main {
    width: 250px;
    height: 320px;
  }
  .block {
    width: 45%;
  }
}