@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.container {
  @extend %hiddenScroll;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem auto 0;
  width: 64.5rem;
  position: sticky;
  padding-bottom: 1rem;
}

.top {
}

@media (max-width: 1150px) {
  .container {
    width: 100%;
    justify-content: flex-start;
    > * {
      margin-right: 20px;
    }
  }
}

@media (max-width: $mobile) {
  .container {
    overflow-x: scroll;
    padding: 0;
  }
  .farm {
    overflow: auto;
    > * {
      width: 50%;
      margin-right: 0;
      text-align: center;
    }
  }
}
