@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfairdisplay.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Italic';
    src: url('../fonts/Playfairdisplayitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Anglecia Pro';
    src: url('../fonts/Angleciaprodisplay.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../fonts/Roboto-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
