$gen: #184240;
$lighten: #8D9A9A;
$lightest: #E3DED2;
$grey: #AEAEAE;
$accent: #FFF3E7;
$font-main: 'Playfair', 'serif';
$font-italic: 'Playfair Italic', 'serif';
$font-numbers: 'Anglecia Pro', 'serif';
$font-service: 'Roboto', 'sans-serif';
$font-service--bold: 'Roboto-medium', 'sans-serif';

$landscape: 1199px;
$tablet: 1023px;
$mobile: 767px;