@import '/src/styles/root';
@import '/src/styles/mixins';

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: calc(100% - 60px);
  border-bottom: 1px solid rgba($accent, .3);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba($accent, .3);
}

.wrapper {
  display: flex;
}

.close {
  position: absolute;
  right: 0;
}

.link {
  display: block;
  margin-top: 20px;
  color: $accent;
  &:first-child {
    margin-top: 0;
  }
}

.social {
  margin-top: 20px;
  color: $accent;
  font-size: 24px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  &:first-child {
    margin-top: 0;
  }
}
.contacts {
  margin-top: 65px;
}
.contact {
  width: 100%;
  margin-top: 10px;
  font-family: $font-service;
  font-size: 14px;
  color: $accent;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  &:first-child {
    margin-top: 0;
  }
}

.block {
  &:first-child {
    width: 80%;
  }
}

