@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: $gen;
}

.container {
  @extend %flexbox;
  justify-content: space-between;
  height: 5rem;
  border-bottom: 1px solid rgba($gen, 0.3);
}

.nav {
  @extend %flexbox;
  justify-content: space-between;
  width: calc(100% - 6.5rem);
}

.link {
  @extend %button--decorate;
  @extend %underline;
  font-size: 0.75rem;

  &::after {
    bottom: -0.5rem;
    background-color: $gen;
  }
}

.logo {
  @extend %flexbox;
  justify-content: center;
  width: 31%;
  margin-left: 14%;

  path {
    fill: $gen;
  }
}

.block {
  @extend %flexbox;
}

.control {
  @extend %flexbox;
  position: relative;
  margin-left: 2.875rem;
}

.button {
  @extend %button--circle;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.cart {
  &:not(.button_accent) {
    circle,
    path {
      stroke: $gen;
    }

    &:hover {
      circle,
      path {
        stroke: $accent;
      }
    }
  }
}

.favorite {
  path {
    stroke: $accent;
  }
  &:not(.button_accent) {
    path {
      stroke: $gen;
    }
    &:hover {
      path {
        fill: $accent;
        stroke: $gen;
      }
    }
  }

}


.search {
  &:not(.button_accent) {
    path {
      fill: $gen;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

.button_accent {
  background-color: rgba($accent, 0.2);

  .line {
    span,
    &::after,
    &::before {
      background-color: $accent;

    }
  }

  &:hover {
    background-color: rgba($accent, 0.5);
  }
}



//.cardIcon {
//  path {
//    fill: $gen;
//  }
//
//  &__accent {
//    path {
//      fill: $accent;
//    }
//  }
//}

.favIcon {
  path,
  rect {
    stroke: $gen;
  }

  &__accent {
    path,
    rect {
      stroke: $accent;
    }
  }
}

.border_accent {
  border-bottom: 1px solid rgba(#fff, 0.5);
}

.link_accent {
  color: $accent;

  &::after {
    background-color: $accent;
  }
}


.logo_accent {
  path {
    fill: $accent;
  }
}

.line {
  position: relative;
  width: 14px;
  height: 1px;

  span {
    display: block;
    width: 14px;
    height: 1px;
    background-color: $gen;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gen;
    transition: top .3s, transform .3s;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }

}

.burger {
  display: none;

  &:hover {
    .line {
      span,
      &::before,
      &::after {
        background-color: $accent;
      }
    }
  }

  span {

  }

  &Open {
    .line {
      span {
        opacity: 0;
      }

      &::before {
        top: 0;
        transform: rotate(138deg);
      }

      &::after {
        top: 0;
        transform: rotate(-138deg);
      }
    }
  }
}

@media (max-width: $landscape) {
  .favorite {
    //display: none;
  }
  .burger {
    display: flex;
  }
  .nav {
    width: auto;
  }
  .link {
    display: none;
  }
  .logo {
    width: 100%;
    transform: translateX(-50px);
  }
  .control {
    margin-left: 0;
    order: -1;
  }
}

@media (max-width: $tablet) {

  .header {
    //&.menuOpen {
    //  z-index: 10;
    //}
  }

  .link {
    font-size: 10px;
  }
}

@media (max-width: $mobile) {
  .button {
    display: none;
  }
  .container {
    justify-content: center;
  }
  .logo {
    transform: none;
    margin: 0;
  }
}