@import '/src/styles/root.scss';

.total {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1.25rem;
    line-height: 1;
}

.value {
    margin-left: 0.5rem;
    font-family: $font-numbers;
    font-size: 2.25rem;
    line-height: .85;
}