@import '/src/styles/root.scss';

.total {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.25rem;
  line-height: 1;
  width: 100%;
}

.value {
  margin-left: 0.5rem;
  font-family: $font-numbers;
  font-size: 2.25rem;
  line-height: 0.85;
}
