@import '/src/styles/mixins';
@import '/src/styles/root';

.subcategory {
  @extend %button;
  min-height: 1.875rem;
  margin-right: 0.625rem;
  padding: 0 1.25rem;
  border-color: $gen;
  border-radius: 0.9375rem;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover,
  &.active {
    background-color: $gen;
    color: $accent;
  }

  &.product {
    width: fit-content;
    margin-right: 1.25rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $gen;
    &.active,
    &:hover {
      text-decoration: underline;
    }
    &.active {
      font-family: $font-service--bold;
    }
  }
}

.wrapper {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.block {
    width: 9.25rem;
    position: absolute;
    top: calc(100% + 1.625rem);
    border: 1px solid rgba(24, 66, 64, 0.3);
    background-color: $accent;
    padding: 0.9375rem 0;
    border-radius: 6px;

    transition: opacity .3s ease-in;
    opacity: 0;
    visibility: hidden;

    &__ref {
        color: $gen;
        text-align: center;
        display: block;
        width: 100%;
        min-height: 2.25rem;
        padding: 0.25rem 1rem;
        text-transform: none;
        font-size: 1rem;

        & + & {
            // margin-top: 0.25rem;
        }

        &:hover {
          background-color: $grey;
        }
    }

    &_active {
      opacity: 1;
      visibility: visible;
    }
}

@media (max-width: 1150px) {
  
}


@media (max-width: $mobile) {
  .subcategory {
    margin-bottom: 1rem;
    &.product {
      margin-right: 18px;
      margin-bottom: 6px;
    }
  }

  .block {
    display: none;
  }
}

