@import '/src/styles/mixins';
@import '/src/styles/root';

.subcategory {
  @extend %button;
  min-height: 1.875rem;
  margin-right: 0.625rem;
  padding: 0 1.25rem;
  border-color: $gen;
  border-radius: 0.9375rem;
  text-transform: uppercase;

  &:hover,
  &.active {
    background-color: $gen;
    color: $accent;
  }

  &:last-child {
    margin-right: 0;
  }

  &.product {
    width: fit-content;
    margin-right: 1.25rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $gen;
    &.active,
    &:hover {
      text-decoration: underline;
    }
    &.active {
      font-family: $font-service--bold;
    }
  }
}

@media (max-width: $landscape) {
  .subcategory {
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet) {
  //.mainButton {
  //  margin-bottom: 20px;
  //}
}

@media (max-width: $mobile) {

  //.mainButton {
  //  margin-bottom: 16px;
  //}
  .subcategory {
    margin-bottom: 16px;
    &.product {
      margin-right: 18px;
      margin-bottom: 6px;
    }
  }
}

