@import "../../styles/mixins";
@import "../../styles/root";

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 26rem;
  padding: 1.25rem 0.9375rem;
  border: 1px solid rgba($gen, 0.3);
  border-top: none;
  border-left: none;
  cursor: pointer;
  //&:hover {
  //
  //   .info {
  //      margin-top: -2.9375rem;
  //      opacity: 0;
  //      transition: margin-top 0.4s ease-out, opacity 0.1s ease-out;
  //   }
  //
  //   .more {
  //      bottom: 0;
  //   }
  //}
  &.card_slider {
    width: 20.625rem;
    border: none;
  }
}

.image,
.name,
.addition,
.weight,
.price {
  display: block;
  text-align: center;
}


.image {
  max-height: 10rem;
  margin: 0.625rem auto 0 auto;
  object-fit: contain;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  line-height: 1;
  margin-top: 1.625rem;
}

.addition {
  min-height: 1.4375rem;
  margin-top: 0.5rem;
  line-height: 1.3;
  font-family: $font-italic;
}

.info {
  margin-top: 0.8125rem;
  transition: margin-top 0.4s ease-out, opacity 0.6s ease-out;
}

.well {
  display: flex;
  justify-content: center;
  min-height: 1.5625rem;
}

.weight {
  margin-top: 0.625rem;
  font-family: $font-service;
  font-size: 0.875rem;
  line-height: 1.3;
  opacity: 0.4;
}

.price {
  font-family: $font-numbers;
}

//
//.more {
//  @extend %flexbox;
//  @extend %button--decorate;
//  justify-content: center;
//  position: absolute;
//  left: 0;
//  bottom: -3.75rem;
//  width: 100%;
//  height: 3.75rem;
//  margin-top: 1.0625rem;
//  font-size: 0.875rem;
//  color: $accent;
//  background-color: $gen;
//  transition: bottom 0.4s ease-out;
//}

.link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card.recommend {
  width: 100%;
}

.status {
  @extend %status;
}
.inStock {
  @extend %inStock;
}
.outStock {
  @extend %outStock;
}

@media (max-width: $landscape) {
  .card {
    width: 33%;
  }
}

@media (max-width: $tablet) {
  .card {
    width: 50%;
  }
}

@media (max-width: $mobile) {
  .card:not(.card_slider) {
    height: 225px;
    padding: 11px 8px;
    // control buttons
    button {
      width: 30px;
      height: 30px;
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        width: 60%;
      }
    }
    .image {
      width: 128px;
      height: 76px;
    }
    .name {
      margin-top: 8px;
      font-size: 12px;
    }
    .addition {
      min-height: 18px;
      font-size: 7px;
    }
    .info {
      margin-top: 4px;
    }
    .well {
      span {
        width: 18px;
        height: 18px;
      }
      svg {
        width: 50%;
      }
    }
    .status {
      font-size: 8px;
    }
    .weight {
      margin-top: 5px;
      font-size: 7px;
    }
    .price {
      font-size: 10px;
    }
  }
  .card.card_slider {
    height: 405px;
    width: 270px;
    .image {
      width: 212px;
      height: 167px;
    }

    .name {
      font-size: 24px;
    }

    .addition {
      font-size: 14px;
    }
  }
  //.image {
  //  width: 128px;
  //}


}