@import '/src/styles/root';

.container {
  position: absolute;
  right: 0.625rem;
  top: 0.6875rem;
  z-index: 1;
  display: flex;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 0.875rem;
  background-color: $lightest;
  color: rgba($gen, 0.3);
  transition: background-color 0.3s, color 0.3s;
  z-index: 1;
  &:first-child {
    margin-right: 0.6875rem;
  }
}

.favClicked {
  background-color: $gen;
  color: $accent;
  path {
    fill: $accent;
  }
}
.cartClicked {
  background-color: $gen;
  color: $accent;
  path,
  circle {
    stroke: $accent;
  }
}

.newButton {
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 30px;
  border-radius: 11px;
  font-size: 0.875rem;
  background-color: $lightest;
  color: rgba($gen, 0.3);
  transition: background-color 0.3s, color 0.3s;
  margin: 0 auto;
  &:first-child {
    margin-right: 0.6875rem;
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: $gen;
  }
}

@media (max-width: 768px) {
  .button {
    &:first-child {
      margin: 0;
    }
    &:last-child {
      display: none;
    }
  }
  .newButton {
    display: flex;
  }
  .newButtonClicked {
    background-color: $gen;

    span {
      color: #fff;
    }

    svg {
      path,
      circle,
      rect {
        stroke: $accent;
      }
    }
  }
}