@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.button {
  @extend %button--circle;
  flex-shrink: 0;
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.cart {
  position: relative;
  &:not(.button_accent) {
    circle,
    path {
      stroke: $gen;
    }

    &:hover {
      circle,
      path {
        stroke: $accent;
      }
    }
  }

  &__count {
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    height: 1rem;
    background-color: $gen;
    padding: 0.7rem 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #fff;
  }
}

.button_accent {
  background-color: rgba($accent, 0.2);

  .line {
    span,
    &::after,
    &::before {
      background-color: $accent;
    }
  }

  &:hover {
    background-color: rgba($accent, 0.5);
  }
}

@media (max-width: $mobile) {
  .button {
    display: none;
  }
}
