@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.card {
  width: calc(25% - 1.25rem);
  margin-right: 1.25rem;
  &:last-child {
    margin-right: 0;
  }
}
.header {
  padding: 1.375rem 1rem 2.375rem 2rem;
  background-color: $gen;
  color: $accent;
}

.info {
  max-width: 80%;
  font-family: $font-service;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.phone {
  @extend %link;
  margin-top: 1.875rem;
  font-weight: 400;
  color: $accent;
  &::after {
    background-color: $accent;
  }
}

.image {
  height: 14.5rem;
  object-fit: cover;
}

@media (max-width: $landscape) {
  .card {
    width: calc(33% - 12px);
  }
  .header {
    min-height: 165px;
  }
  .image {
    height: 250px;
  }
}

@media (max-width: $tablet) {
  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 20px;
    }
  }
}

@media (max-width: $mobile) {
  .card {
    width: 100%;
    margin: 0;
  }
  .info {
    max-width: 100%;
  }
}