@import "/src/styles/root.scss";

.taste {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 1.5625rem;
    height: 1.5625rem;
    margin-right: 0.625rem;
    border: 1px solid $accent;
    border-radius: 50%;
    &.accent {
        border-color: $gen;
        & path {
            fill: $gen;
         }
    }
    &:last-child {
        margin-right: 0;
    }
}
