@import "/src/styles/root";
@import "/src/styles/mixins";

.container {
  padding: 3.125rem 0.9375rem;
  overflow: scroll;
  @extend %scrollbar;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 1.5rem;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1.875rem;
  font-family: $font-service;

}

