@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.container {
  width: 50%;
}

.purchase {
  width: 26.875rem;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.steps {
  @extend %flexbox;
  width: fit-content;
  margin: 5rem auto 0 auto;
  font-family: $font-service;
  font-size: 0.75rem;
  font-weight: 500;
  color: #A0A9A1;
}

.step {
  display: flex;
  align-items: center;
  opacity: 0.4;
  text-transform: uppercase;
  color: $gen;

  &.active {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:not(:last-child) {
    &::after {
      display: flex;
      align-items: center;
      content: ">";
      margin: 0 0.9375rem;
    }
  }
}

.form {
  width: 26.25rem;
  margin: 3.125rem auto 0 auto;
}

.submit {
  @extend %button--accent;
  width: 100%;
  height: 4rem;
  margin-top: 7.5rem;
  font-size: 1.125rem;
}

@media (max-width: $landscape) {
  .purchase {
    width: 382px;
  }
  .steps {
    margin-top: 70px;
  }
  .submit {
    margin-top: 80px;
  }
}

@media (max-width: $tablet) {
  .purchase {
    width: 320px;
  }
  .submit {
    height: 56px;
    margin-top: 60px;
    font-size: 16px;
  }
}

@media (max-width: $mobile) {
  .purchase {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .submit {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    max-width: 420px;
  }
  .steps {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba($gen, .3);
  }
  .title {
    text-align: left;
  }
}