@import '/src/styles/mixins.scss';
@import '/src/styles/root.scss';

.container {
  @extend %flexbox;
  display: block;
}

.add {
  @extend %button;
  height: 2.5rem;
  margin-right: 0.875rem;
  padding: 0 2.125rem;
  border-radius: 1.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  background-color: $lightest;
  color: $gen;
  margin-top: 0.625rem;
  width: 100%;

  &:hover {
    background-color: $gen;
    color: $accent;
  }
}

.info {
  display: flex;
}

.counter {
  position: relative;
  @extend %flexbox;
  justify-content: center;
  width: 8.75rem;
  height: 2.5rem;
  margin-right: 1.125rem;
  border: 1px solid $grey;
  border-radius: 8px;
  font-family: $font-service;
  user-select: none;
}

.count {
  font-size: 1.125rem;
}

.change {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  transition: top 0.1s;
  &:active {
    top: 55%;
  }
}
.minus {
  left: 0;
}
.plus {
  right: 0;
}

@media (max-width: $tablet) {
  .container {
    margin-top: 0;
  }
}

@media (max-width: $mobile) {
  .container {
    margin-top: 10px;
  }
}
