@import "/src/styles/mixins.scss";
@import "/src/styles/root.scss";

.container {
    @extend %flexbox;
    justify-content: center;
    position: relative;
    min-height: 5rem;
    margin-top: 0.5rem;
    background-color: $lightest;
    border-radius: 14px;
}
.text {
    font-family: $font-service;
    font-size: 1.125rem;

}
.close {
    @extend %close-btn;
    top: 50%;
    transform: translateY(-50%);
    right: 1.25rem;
}

@media (max-width: $mobile) {
    .container {
        margin-top: 20px;
        padding: 20px 75px;
        text-align: center;
    }
    .text {
        font-size: 14px;
    }
}