@import '/src/styles/root.scss';

.container {
  display: flex;
  margin-top: 3.125rem;
}

.block {
  width: 30%;
  margin-right: 22%;
  font-family: $font-service;
  &:last-child {
    margin-right: 0;
  }
}

.subtitle {
  font-family: $font-service--bold;
  font-size: 1.125rem;
}

.list {
  margin-top: 1.875rem;
}

.item {
  margin-top: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.3;
  &:first-child {
    margin-top: 0;
  }
}

@media (max-width: $landscape) {
  .block {
    width: 40%;
    margin-right: 15%;
  }
}

@media (max-width: $tablet) {
  .block {

  }
  .item {
    margin-top: 20px;
    font-size: 14px;
  }
}

@media (max-width: $mobile) {
  .container {
    flex-wrap: wrap;
  }
  .block {
    width: 90%;
    margin-right: 0;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  .list {
    margin-top: 20px;
  }
  .subtitle {
    font-size: 16px;
  }
}