@import '/src/styles/root.scss';

.container {
  display: flex;
  margin-top: 3.125rem;
  flex-wrap: wrap;
  max-width: 100%;
}

.block {
  width: 30%;
  margin-right: 22%;
  margin-bottom: 2rem;
  font-family: $font-service;
  &:last-child {
    margin-right: 0;
  }
}

.subtitle {
  font-family: $font-service--bold;
  font-size: 1.125rem;
}
.content {
  font-size: 1.125rem;
  line-height: 1.33;
  color: #184240;

  & ul {
    margin-top: 1.875rem;
    list-style: circle;
    & li {
      margin-top: 1.875rem;
      font-size: 1.125rem;
      line-height: 1.3;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__imageWrap {
    width: 100%;
    position: relative;
  }

  &__image {
    display: block;
    margin-top: 1rem;
    max-height: 8.75rem;
    object-fit: contain;
  }
}

@media (max-width: $landscape) {
  .block {
    width: 40%;
    margin-right: 15%;
  }
}

@media (max-width: $tablet) {
  .content {
    & ul {
      & li {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .container {
    flex-wrap: wrap;
  }
  .block {
    width: 90%;
    margin-right: 0;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  .content {
    & ul {
      margin-top: 20px;
    }
  }

  .subtitle {
    font-size: 16px;
  }
}
