@import "../../../../styles/mixins";
@import "../../../../styles/root";
.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  font-family: $font-service;
  margin-bottom: 1.8125rem;
}

.tabs {
  display: flex;
  align-items: flex-end;
}

.tab {
  @extend %button--control;
  &:not(:last-child) {
    margin-right: .625rem;
  }
}

.dates {
  display: flex;

  &>*:not(:last-child) {
    margin-right: 1.1875rem;
  }

  &>.field:not(:first-child) {
    margin-top: 0;
  }
}

.submit {
  @extend %button--green;
  align-self: flex-end;
  width: 9.375rem;
  height: 2.5rem;

  &:hover {
    &>span::after {
      opacity: 0;
    }
  }

  &>span {
    @extend %link;
    font-size: .75rem;
    font-weight: 400;
  }
}

@media (max-width: $landscape) {
  .wrapper {
    flex-wrap: wrap;
    margin-top: 45px;
  }
  .dates {
    margin-top: 16px;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    margin-top: 20px;
  }
  .dates,
  .tabs {
    flex-wrap: wrap;
  }
  .dates {
    margin-top: 8px;
  }
  .tab {
    margin-bottom: 10px;
  }
  .submit {
    margin-top: 18px;
  }
}