@import '/src/styles/root';

.container {
  width: calc(100% - 120px);
  margin: 0 auto;
  max-width: 1320px;
}

@media (max-width: $tablet) {
  .container {
    width: calc(100% - 44px);
  }
}
@media (max-width: $mobile) {
  .container {
    width: calc(100% - 30px);
  }
}